{% extends 'Templato/base.html' %}
{% load static %}
{% load thumbnail %}
{% load humanize %}
{% block title %}About Us{% endblock %}
{% block title2 %}About Us{% endblock %}
{% block active2 %}active{% endblock %}
{% block style %}

{% endblock %}   

    {% block content %}

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>about us</h4>
                <h2>more about us!</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->


    <section class="about-us">
      <div class="container">
      	
        <div class="row">
          <div class="col-lg-12">
            <div>{{ site.about|safe }}</div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-5 col-xl-5" style="padding: 20px;">
            <img src="{% if profile.image %}{{profile.image.url}}{% endif %}" alt="" style="width:100%;height:auto;">
          </div>
          <div class="col-lg-7 col-xl-7">
          <h4>About The Author</h4>
          	<div>{{profile.about|safe}}</div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-12">
            <ul class="social-icons">
              <li><a href="{% if profile.facebook %}{{profile.facebook}}{% else %}#{% endif %}"><i class="fa fa-facebook"></i></a></li>
              <li><a href="{% if profile.x_account %}{{profile.x_account}}{% else %}#{% endif %}"><i class="fa fa-twitter"></i></a></li>
              <li><a href="{% if profile.linkedin %}{{profile.linkedin}}{% else %}#{% endif %}"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        
        
      </div>
    </section>

    {% endblock %}  
