{% extends 'Templato/base.html' %}
{% load static %}
{% load thumbnail %}
{% load humanize %}
{% block title %}Posts{% endblock %}
{% block title2 %}Posts{% endblock %}
{% block active3 %}active{% endblock %}
{% block style %}

{% endblock %}   

    {% block content %}

  

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                {% if type %}
                <h4>{{ type }}</h4>
                <h2>{{ type_slug }}</h2>
                {% else %}
                <h4>Recent Posts</h4>
                <h2>Our Recent Blog Entries</h2>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->


    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            {% if query != "" %}
            <h4 style="font-weight:700">Search results for <q>{{ query }}</q></h4>
            {% endif %}
            <div class="all-blog-posts">
              <div class="row">
                {% if blogs %}
                {% for b in blogs %}
                <div class="col-lg-6">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="{% if b.image %}{{ b.image.url }}{% endif %}" alt="">
                    </div>
                    <div class="down-content">
                      <span>{{ b.category.title }}</span>
                      <a href="/{{site.slug}}/posts/{{b.slug}}/"><h4>{{ b.title }}</h4></a>
                      <ul class="post-info">
                        <li><a href="#">{{ b.author.firstName }} {{ b.author.lastName }}</a></li>
                        <li><a href="#">{{ b.created }}</a></li>
                        <li><a href="#">{{ b.comments.count }} Comment{{ b.comments.count|pluralize }}</a></li>
                      </ul>
                      <div>{{ b.post|safe|truncatewords:30 }}</div>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-lg-12">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>
                              {% for t in b.tags.all %}
                              <li><a href="/{{site.slug}}/blogs/tags/{{t.slug}}/1/">{{ t.title }}</a>, </li>
                              {% endfor %}
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                {% endif %}
                
                <div class="col-lg-12">
                  <ul class="page-numbers">
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                {% include 'Templato/sidebar.html' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
{% endblock %}

{% block script %}
<script>
  let total_pages = '{{ total_pages }}';
  let current_page = '{{ page }}';
  let query = '{{ query }}';
  let type = '{{ type }}';
  let slug = '{{ type_slug }}';
  let q = "";
  let t = "";
  console.log(type + ": " + typeof(type))
  //console.log(total_pages)
  total_p = Number(total_pages);
  current_p = Number(current_page);
  for(var i=1; i <= total_p; i++) {
    let active = "";
    let prev = "";
    let next = "";
    if(query != "") {
      q = `?q=${query}`;
    }
    if(type != "") {
      t = `${type}/${slug}/`;
    }
    if(i == current_p) {
      active = 'active';
      let temp = `<li class="${active}"><a href="/{{site.slug}}/blogs/${t}${i}/${q}">${i}</a></li>`;
      $('.page-numbers').append(temp);
    }
    if((current_p-1) > 0) {
      let temp = `<li><a href="/{{site.slug}}/blogs/${t}${current_p-1}/${q}">${current_p-1}</a></li>`;
      $('.page-numbers').prepend(temp);
    }
    if((current_p-2) > 0) {
      let temp = `<li><a href="/{{site.slug}}/blogs/${t}${current_p-2}/${q}"><i class="fa fa-angle-double-right"></i></a></li>`;
      $('.page-numbers').prepend(temp);
    }
    if((current_p+1) <= total_p) {
      let temp = `<li><a href="/{{site.slug}}/blogs/${t}${current_p+1}/${q}">${current_p+1}</a></li>`;
      $('.page-numbers').append(temp);
    }
    if((current_p+2) <= total_p) {
      let temp = `<li><a href="/{{site.slug}}/blogs/${t}${current_p+2}/${q}"><i class="fa fa-angle-double-left"></i></a></li>`;
      $('.page-numbers').append(temp);
    }
  }
</script>
{% endblock %}